h1 {
  text-align: center;
  color: black;
  margin-top: 10px;
  font-family: "Montserrat"
}

body {
  background-color: white;
  color: black;
  font-family: "Calibri";
  margin: 0;
  padding: 0;
}

.textline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.me {
  width: 20%;
  margin: auto;
  display: block;
  border: 5px solid #333;
}

.imgbg {
  background-color: #3EA055;
}

h3 {
  text-align: center;
  margin: 0 20px 0 20px;
  font-family: Arial;
  color: #347682;
  cursor:pointer;
}

h3:hover {
  cursor: pointer;
  color: green;
}

p {
  padding: 10px;
  display: block;
  line-height: 1.4;
  text-align: justify;
  border: solid 2px;
  border-color: white;
  margin: 20px 90px 20px 90px;
  font-family: Arial;
}

span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
}

h4 {
  text-align: center;
  padding-top: 20px;
  font-family: Arial;
  color: #347682;
}

a {
  text-align: center;
  display: block;
  color: black;
  line-height: 1.7;
  margin: 0 auto;
  width: 100px;
}

.btnwrap {
  text-align: center;
  padding: 5px;
}
.changeColor {
  position: relative;
}

.container {
  text-align: center;
}

.panel-title {
  text-align: center;
}

.panel-default {
  margin-left: 15px;
  margin-right: 15px;
}

.img-rounded {
  width: 100px;
  height: 100px;
  margin: 10px;
}
