/*CSS file for portfolio- ssatyal.github.io */
h1 {
  text-align: center;
}

body {
  background-color: black;
  color: white;
  z-index: -1;
  display: block;

}
h2 {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

a {
  text-align: center;
  display: block;
  color: white;
  line-height: 1.7;

}

footer a {
  padding-top: 20px;
  color: white;
  text-align: left;
  padding-left: 100px;
}

p {
  padding: 10px;
  display: block;
  line-height: 1.4;
  text-align: justify;
  border: solid 2px;
  border-color: white;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.me {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  padding-bottom: 100px;
  outline: 1px;
  outline-color: white;
}
.space {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  position: absolute;
  top: 25px;
  float: top;
}
