h1 {
  text-align: center;
  color: black;
}

body {
  background-color: white;
  color: black;
  font-family: "Calibri";
}

.me {
  width: 20%;
  margin: auto;
  display: block;
  border: 5px solid black;
}

.imgbg {
  background-color: #3EA055;
}

h2 {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  font-family: Arial;
  color: #3EA055;
}

h2 a {
  color: #3EA055;
}

p {
  padding: 10px;
  display: block;
  line-height: 1.4;
  text-align: justify;
  border: solid 2px;
  border-color: white;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial;
}

h3 {
  text-align: center;
  padding-top: 20px;
  font-family: Arial;
  color: #3EA055;
}

a {
  text-align: center;
  display: block;
  color: black;
  line-height: 1.7;
  margin: 0 auto;
  width: 100px;
}
